body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#tablero{
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
}

.columna{
  width:20%;
  height: 100%;
  float:left;
  display: inline;
  *margin-right:-1px;
  position: relative;
}

.title{
  text-align: center;
  display: block;
  padding: 10px 0 0 0;
  font-size: 16px;
}

.cont-columna{
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
}

.col-estado{
  padding: 0px;
}

.col-estado li { float:left; padding:5px; display: block; width: 100%; height:55px; }
.col-estado div { display: block; width: 100%; height:50px; border:solid 1px black; text-align:center; padding-top:40px; }
.placeHolder div { background-color:white !important; border:dashed 1px gray !important; }

/**************** Columnas *****************/

.box-pendiente {
  background-color: #666;
}

.box-asignado {
  background-color: #F90;
}

.box-desarrollo {
  background-color: #093;
}

.box-pruebas {
  background-color: #900;
}

.box-lanzamiento{
  background-color: #06F;
}



